body {
    background-color: rgb(221, 242, 255)
}

header {
    height: 80px;
    background-color: white;
    box-sizing: border-box;
}

#logo {
    vertical-align: middle;
    margin-left: 20px;
}

#logo-name {
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    
}